# Byte-compiled / optimized / DLL files
.DS_Store
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer, 
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
DeepLearning/data/cifar-10-batches-py/batches.meta
DeepLearning/data/cifar-10-batches-py/data_batch_1
DeepLearning/data/cifar-10-batches-py/data_batch_2
DeepLearning/data/cifar-10-batches-py/data_batch_3
DeepLearning/data/cifar-10-batches-py/data_batch_4
DeepLearning/data/cifar-10-batches-py/data_batch_5
DeepLearning/data/cifar-10-batches-py/readme.html
DeepLearning/data/cifar-10-batches-py/test_batch
DeepLearning/data/cifar-10-python.tar.gz
DeepLearning/data/desert101/test/baklava/1880196.jpg
DeepLearning/data/desert101/test/baklava/1881388.jpg
DeepLearning/data/desert101/test/baklava/1882322.jpg
DeepLearning/data/desert101/test/baklava/1885421.jpg
DeepLearning/data/desert101/test/baklava/1896759.jpg
DeepLearning/data/desert101/test/baklava/1897024.jpg
DeepLearning/data/desert101/test/baklava/1906128.jpg
DeepLearning/data/desert101/test/baklava/1915978.jpg
DeepLearning/data/desert101/test/baklava/1918740.jpg
DeepLearning/data/desert101/test/baklava/1925300.jpg
DeepLearning/data/desert101/test/baklava/1927466.jpg
DeepLearning/data/desert101/test/baklava/1936599.jpg
DeepLearning/data/desert101/test/baklava/1938755.jpg
DeepLearning/data/desert101/test/baklava/1946286.jpg
DeepLearning/data/desert101/test/baklava/1951482.jpg
DeepLearning/data/desert101/test/baklava/1964057.jpg
DeepLearning/data/desert101/test/baklava/1970947.jpg
DeepLearning/data/desert101/test/baklava/1973373.jpg
DeepLearning/data/desert101/test/baklava/1973849.jpg
DeepLearning/data/desert101/test/cannoli/1029395.jpg
DeepLearning/data/desert101/test/cannoli/1033496.jpg
DeepLearning/data/desert101/test/cannoli/1033510.jpg
DeepLearning/data/desert101/test/cannoli/1047167.jpg
DeepLearning/data/desert101/test/cannoli/1048851.jpg
DeepLearning/data/desert101/test/cannoli/1057676.jpg
DeepLearning/data/desert101/test/cannoli/1058111.jpg
DeepLearning/data/desert101/test/cannoli/1066435.jpg
DeepLearning/data/desert101/test/cannoli/1066531.jpg
DeepLearning/data/desert101/test/cannoli/1067240.jpg
DeepLearning/data/desert101/test/cannoli/1070382.jpg
DeepLearning/data/desert101/test/cannoli/1074960.jpg
DeepLearning/data/desert101/test/cannoli/1076805.jpg
DeepLearning/data/desert101/test/cannoli/1078873.jpg
DeepLearning/data/desert101/test/cannoli/1079736.jpg
DeepLearning/data/desert101/test/cannoli/1079760.jpg
DeepLearning/data/desert101/test/cannoli/1087098.jpg
DeepLearning/data/desert101/test/cannoli/1087676.jpg
DeepLearning/data/desert101/test/cannoli/1088944.jpg
DeepLearning/data/desert101/test/cup_cakes/1707810.jpg
DeepLearning/data/desert101/test/cup_cakes/1712724.jpg
DeepLearning/data/desert101/test/cup_cakes/1722278.jpg
DeepLearning/data/desert101/test/cup_cakes/1749534.jpg
DeepLearning/data/desert101/test/cup_cakes/1749584.jpg
DeepLearning/data/desert101/test/cup_cakes/1752001.jpg
DeepLearning/data/desert101/test/cup_cakes/1753015.jpg
DeepLearning/data/desert101/test/cup_cakes/1756820.jpg
DeepLearning/data/desert101/test/cup_cakes/1761381.jpg
DeepLearning/data/desert101/test/cup_cakes/1776994.jpg
DeepLearning/data/desert101/test/cup_cakes/1780718.jpg
DeepLearning/data/desert101/test/cup_cakes/1791192.jpg
DeepLearning/data/desert101/test/cup_cakes/1791199.jpg
DeepLearning/data/desert101/test/cup_cakes/1794466.jpg
DeepLearning/data/desert101/test/cup_cakes/1795901.jpg
DeepLearning/data/desert101/test/cup_cakes/1818986.jpg
DeepLearning/data/desert101/test/cup_cakes/1822922.jpg
DeepLearning/data/desert101/test/cup_cakes/1839289.jpg
DeepLearning/data/desert101/test/cup_cakes/1851117.jpg
DeepLearning/data/desert101/test/cup_cakes/3429805.jpg
DeepLearning/data/desert101/test/donuts/122287.jpg
DeepLearning/data/desert101/test/donuts/122399.jpg
DeepLearning/data/desert101/test/donuts/126768.jpg
DeepLearning/data/desert101/test/donuts/129078.jpg
DeepLearning/data/desert101/test/donuts/129296.jpg
DeepLearning/data/desert101/test/donuts/130235.jpg
DeepLearning/data/desert101/test/donuts/132845.jpg
DeepLearning/data/desert101/test/donuts/133593.jpg
DeepLearning/data/desert101/test/donuts/133819.jpg
DeepLearning/data/desert101/test/donuts/134878.jpg
DeepLearning/data/desert101/test/donuts/136841.jpg
DeepLearning/data/desert101/test/donuts/137585.jpg
DeepLearning/data/desert101/test/donuts/139130.jpg
DeepLearning/data/desert101/test/donuts/139546.jpg
DeepLearning/data/desert101/test/donuts/140847.jpg
DeepLearning/data/desert101/test/donuts/141712.jpg
DeepLearning/data/desert101/test/donuts/148384.jpg
DeepLearning/data/desert101/test/donuts/158634.jpg
DeepLearning/data/desert101/test/donuts/159634.jpg
DeepLearning/data/desert101/train/baklava/2694926.jpg
DeepLearning/data/desert101/train/baklava/2695500.jpg
DeepLearning/data/desert101/train/baklava/2695657.jpg
DeepLearning/data/desert101/train/baklava/2704394.jpg
DeepLearning/data/desert101/train/baklava/2706472.jpg
DeepLearning/data/desert101/train/baklava/2708501.jpg
DeepLearning/data/desert101/train/baklava/2718099.jpg
DeepLearning/data/desert101/train/baklava/2722704.jpg
DeepLearning/data/desert101/train/baklava/2727113.jpg
DeepLearning/data/desert101/train/baklava/2742348.jpg
DeepLearning/data/desert101/train/baklava/2751927.jpg
DeepLearning/data/desert101/train/baklava/2751965.jpg
DeepLearning/data/desert101/train/baklava/2752850.jpg
DeepLearning/data/desert101/train/baklava/2755406.jpg
DeepLearning/data/desert101/train/baklava/2768985.jpg
DeepLearning/data/desert101/train/baklava/2787264.jpg
DeepLearning/data/desert101/train/baklava/2795418.jpg
DeepLearning/data/desert101/train/baklava/2796430.jpg
DeepLearning/data/desert101/train/baklava/2812401.jpg
DeepLearning/data/desert101/train/baklava/2813305.jpg
DeepLearning/data/desert101/train/baklava/2818257.jpg
DeepLearning/data/desert101/train/baklava/2828700.jpg
DeepLearning/data/desert101/train/baklava/2829208.jpg
DeepLearning/data/desert101/train/baklava/2829305.jpg
DeepLearning/data/desert101/train/baklava/2835603.jpg
DeepLearning/data/desert101/train/baklava/2840498.jpg
DeepLearning/data/desert101/train/baklava/2841494.jpg
DeepLearning/data/desert101/train/baklava/2852513.jpg
DeepLearning/data/desert101/train/baklava/2860627.jpg
DeepLearning/data/desert101/train/baklava/2863350.jpg
DeepLearning/data/desert101/train/baklava/2870190.jpg
DeepLearning/data/desert101/train/baklava/2882626.jpg
DeepLearning/data/desert101/train/baklava/2891942.jpg
DeepLearning/data/desert101/train/baklava/2903884.jpg
DeepLearning/data/desert101/train/baklava/2908509.jpg
DeepLearning/data/desert101/train/baklava/2909420.jpg
DeepLearning/data/desert101/train/baklava/2914601.jpg
DeepLearning/data/desert101/train/baklava/2917278.jpg
DeepLearning/data/desert101/train/baklava/2918748.jpg
DeepLearning/data/desert101/train/baklava/2923395.jpg
DeepLearning/data/desert101/train/baklava/2924742.jpg
DeepLearning/data/desert101/train/baklava/2925079.jpg
DeepLearning/data/desert101/train/baklava/2926747.jpg
DeepLearning/data/desert101/train/baklava/2929554.jpg
DeepLearning/data/desert101/train/baklava/2939561.jpg
DeepLearning/data/desert101/train/baklava/2942515.jpg
DeepLearning/data/desert101/train/baklava/2946891.jpg
DeepLearning/data/desert101/train/baklava/2954550.jpg
DeepLearning/data/desert101/train/baklava/2956954.jpg
DeepLearning/data/desert101/train/baklava/2957178.jpg
DeepLearning/data/desert101/train/baklava/2966630.jpg
DeepLearning/data/desert101/train/baklava/2975902.jpg
DeepLearning/data/desert101/train/baklava/2984698.jpg
DeepLearning/data/desert101/train/baklava/2987212.jpg
DeepLearning/data/desert101/train/baklava/2990981.jpg
DeepLearning/data/desert101/train/baklava/2999408.jpg
DeepLearning/data/desert101/train/baklava/3006203.jpg
DeepLearning/data/desert101/train/baklava/3006261.jpg
DeepLearning/data/desert101/train/baklava/3009508.jpg
DeepLearning/data/desert101/train/baklava/3009922.jpg
DeepLearning/data/desert101/train/baklava/3015422.jpg
DeepLearning/data/desert101/train/baklava/3024485.jpg
DeepLearning/data/desert101/train/baklava/3025814.jpg
DeepLearning/data/desert101/train/baklava/3032522.jpg
DeepLearning/data/desert101/train/baklava/3032961.jpg
DeepLearning/data/desert101/train/baklava/3038844.jpg
DeepLearning/data/desert101/train/baklava/3042345.jpg
DeepLearning/data/desert101/train/baklava/3044167.jpg
DeepLearning/data/desert101/train/baklava/3047346.jpg
DeepLearning/data/desert101/train/baklava/3049815.jpg
DeepLearning/data/desert101/train/baklava/3050269.jpg
DeepLearning/data/desert101/train/baklava/3055850.jpg
DeepLearning/data/desert101/train/baklava/3059870.jpg
DeepLearning/data/desert101/train/baklava/3061534.jpg
DeepLearning/data/desert101/train/baklava/3067354.jpg
DeepLearning/data/desert101/train/baklava/3068064.jpg
DeepLearning/data/desert101/train/baklava/3074769.jpg
DeepLearning/data/desert101/train/baklava/3076821.jpg
DeepLearning/data/desert101/train/baklava/3078639.jpg
DeepLearning/data/desert101/train/cannoli/1007970.jpg
DeepLearning/data/desert101/train/cannoli/1008331.jpg
DeepLearning/data/desert101/train/cannoli/1015289.jpg
DeepLearning/data/desert101/train/cannoli/1019714.jpg
DeepLearning/data/desert101/train/cannoli/1021048.jpg
DeepLearning/data/desert101/train/cannoli/711078.jpg
DeepLearning/data/desert101/train/cannoli/714336.jpg
DeepLearning/data/desert101/train/cannoli/719177.jpg
DeepLearning/data/desert101/train/cannoli/726340.jpg
DeepLearning/data/desert101/train/cannoli/726697.jpg
DeepLearning/data/desert101/train/cannoli/730051.jpg
DeepLearning/data/desert101/train/cannoli/748632.jpg
DeepLearning/data/desert101/train/cannoli/748867.jpg
DeepLearning/data/desert101/train/cannoli/753413.jpg
DeepLearning/data/desert101/train/cannoli/754469.jpg
DeepLearning/data/desert101/train/cannoli/754677.jpg
DeepLearning/data/desert101/train/cannoli/760590.jpg
DeepLearning/data/desert101/train/cannoli/762816.jpg
DeepLearning/data/desert101/train/cannoli/770200.jpg
DeepLearning/data/desert101/train/cannoli/770203.jpg
DeepLearning/data/desert101/train/cannoli/785894.jpg
DeepLearning/data/desert101/train/cannoli/790499.jpg
DeepLearning/data/desert101/train/cannoli/791655.jpg
DeepLearning/data/desert101/train/cannoli/792215.jpg
DeepLearning/data/desert101/train/cannoli/795413.jpg
DeepLearning/data/desert101/train/cannoli/795526.jpg
DeepLearning/data/desert101/train/cannoli/796201.jpg
DeepLearning/data/desert101/train/cannoli/798667.jpg
DeepLearning/data/desert101/train/cannoli/800555.jpg
DeepLearning/data/desert101/train/cannoli/803909.jpg
DeepLearning/data/desert101/train/cannoli/803995.jpg
DeepLearning/data/desert101/train/cannoli/806443.jpg
DeepLearning/data/desert101/train/cannoli/807127.jpg
DeepLearning/data/desert101/train/cannoli/809798.jpg
DeepLearning/data/desert101/train/cannoli/816175.jpg
DeepLearning/data/desert101/train/cannoli/818946.jpg
DeepLearning/data/desert101/train/cannoli/831800.jpg
DeepLearning/data/desert101/train/cannoli/832870.jpg
DeepLearning/data/desert101/train/cannoli/835758.jpg
DeepLearning/data/desert101/train/cannoli/847176.jpg
DeepLearning/data/desert101/train/cannoli/847599.jpg
DeepLearning/data/desert101/train/cannoli/851981.jpg
DeepLearning/data/desert101/train/cannoli/853385.jpg
DeepLearning/data/desert101/train/cannoli/860956.jpg
DeepLearning/data/desert101/train/cannoli/867388.jpg
DeepLearning/data/desert101/train/cannoli/868478.jpg
DeepLearning/data/desert101/train/cannoli/871667.jpg
DeepLearning/data/desert101/train/cannoli/882056.jpg
DeepLearning/data/desert101/train/cannoli/885035.jpg
DeepLearning/data/desert101/train/cannoli/889630.jpg
DeepLearning/data/desert101/train/cannoli/892394.jpg
DeepLearning/data/desert101/train/cannoli/895411.jpg
DeepLearning/data/desert101/train/cannoli/897835.jpg
DeepLearning/data/desert101/train/cannoli/902954.jpg
DeepLearning/data/desert101/train/cannoli/905786.jpg
DeepLearning/data/desert101/train/cannoli/909918.jpg
DeepLearning/data/desert101/train/cannoli/912746.jpg
DeepLearning/data/desert101/train/cannoli/918878.jpg
DeepLearning/data/desert101/train/cannoli/937235.jpg
DeepLearning/data/desert101/train/cannoli/939082.jpg
DeepLearning/data/desert101/train/cannoli/939917.jpg
DeepLearning/data/desert101/train/cannoli/942107.jpg
DeepLearning/data/desert101/train/cannoli/945563.jpg
DeepLearning/data/desert101/train/cannoli/949886.jpg
DeepLearning/data/desert101/train/cannoli/951127.jpg
DeepLearning/data/desert101/train/cannoli/957720.jpg
DeepLearning/data/desert101/train/cannoli/964039.jpg
DeepLearning/data/desert101/train/cannoli/973072.jpg
DeepLearning/data/desert101/train/cannoli/973278.jpg
DeepLearning/data/desert101/train/cannoli/974901.jpg
DeepLearning/data/desert101/train/cannoli/976254.jpg
DeepLearning/data/desert101/train/cannoli/976685.jpg
DeepLearning/data/desert101/train/cannoli/976837.jpg
DeepLearning/data/desert101/train/cannoli/979187.jpg
DeepLearning/data/desert101/train/cannoli/984353.jpg
DeepLearning/data/desert101/train/cannoli/987073.jpg
DeepLearning/data/desert101/train/cannoli/992416.jpg
DeepLearning/data/desert101/train/cannoli/992769.jpg
DeepLearning/data/desert101/train/cannoli/994499.jpg
DeepLearning/data/desert101/train/cup_cakes/1274033.jpg
DeepLearning/data/desert101/train/cup_cakes/1280350.jpg
DeepLearning/data/desert101/train/cup_cakes/1280547.jpg
DeepLearning/data/desert101/train/cup_cakes/1280762.jpg
DeepLearning/data/desert101/train/cup_cakes/1284612.jpg
DeepLearning/data/desert101/train/cup_cakes/1288664.jpg
DeepLearning/data/desert101/train/cup_cakes/1290350.jpg
DeepLearning/data/desert101/train/cup_cakes/1291595.jpg
DeepLearning/data/desert101/train/cup_cakes/1298306.jpg
DeepLearning/data/desert101/train/cup_cakes/1300498.jpg
DeepLearning/data/desert101/train/cup_cakes/1301171.jpg
DeepLearning/data/desert101/train/cup_cakes/1305456.jpg
DeepLearning/data/desert101/train/cup_cakes/1306818.jpg
DeepLearning/data/desert101/train/cup_cakes/1309558.jpg
DeepLearning/data/desert101/train/cup_cakes/1311262.jpg
DeepLearning/data/desert101/train/cup_cakes/1314027.jpg
DeepLearning/data/desert101/train/cup_cakes/1314065.jpg
DeepLearning/data/desert101/train/cup_cakes/1317600.jpg
DeepLearning/data/desert101/train/cup_cakes/1321330.jpg
DeepLearning/data/desert101/train/cup_cakes/1326556.jpg
DeepLearning/data/desert101/train/cup_cakes/1326609.jpg
DeepLearning/data/desert101/train/cup_cakes/1327542.jpg
DeepLearning/data/desert101/train/cup_cakes/1329178.jpg
DeepLearning/data/desert101/train/cup_cakes/1333317.jpg
DeepLearning/data/desert101/train/cup_cakes/1333324.jpg
DeepLearning/data/desert101/train/cup_cakes/1337553.jpg
DeepLearning/data/desert101/train/cup_cakes/1342683.jpg
DeepLearning/data/desert101/train/cup_cakes/1344662.jpg
DeepLearning/data/desert101/train/cup_cakes/1345445.jpg
DeepLearning/data/desert101/train/cup_cakes/1366599.jpg
DeepLearning/data/desert101/train/cup_cakes/1368304.jpg
DeepLearning/data/desert101/train/cup_cakes/1375495.jpg
DeepLearning/data/desert101/train/cup_cakes/1383502.jpg
DeepLearning/data/desert101/train/cup_cakes/1387683.jpg
DeepLearning/data/desert101/train/cup_cakes/1396488.jpg
DeepLearning/data/desert101/train/cup_cakes/1402493.jpg
DeepLearning/data/desert101/train/cup_cakes/1406143.jpg
DeepLearning/data/desert101/train/cup_cakes/1419902.jpg
DeepLearning/data/desert101/train/cup_cakes/1437964.jpg
DeepLearning/data/desert101/train/cup_cakes/1441270.jpg
DeepLearning/data/desert101/train/cup_cakes/1446834.jpg
DeepLearning/data/desert101/train/cup_cakes/1452960.jpg
DeepLearning/data/desert101/train/cup_cakes/1463304.jpg
DeepLearning/data/desert101/train/cup_cakes/1464270.jpg
DeepLearning/data/desert101/train/cup_cakes/1466557.jpg
DeepLearning/data/desert101/train/cup_cakes/1468394.jpg
DeepLearning/data/desert101/train/cup_cakes/1469483.jpg
DeepLearning/data/desert101/train/cup_cakes/1470572.jpg
DeepLearning/data/desert101/train/cup_cakes/1471717.jpg
DeepLearning/data/desert101/train/cup_cakes/1473143.jpg
DeepLearning/data/desert101/train/cup_cakes/1481776.jpg
DeepLearning/data/desert101/train/cup_cakes/1484592.jpg
DeepLearning/data/desert101/train/cup_cakes/1485095.jpg
DeepLearning/data/desert101/train/cup_cakes/1489401.jpg
DeepLearning/data/desert101/train/cup_cakes/1493009.jpg
DeepLearning/data/desert101/train/cup_cakes/1493261.jpg
DeepLearning/data/desert101/train/cup_cakes/1504350.jpg
DeepLearning/data/desert101/train/cup_cakes/1504672.jpg
DeepLearning/data/desert101/train/cup_cakes/1505013.jpg
DeepLearning/data/desert101/train/cup_cakes/1521619.jpg
DeepLearning/data/desert101/train/cup_cakes/1522574.jpg
DeepLearning/data/desert101/train/cup_cakes/1524720.jpg
DeepLearning/data/desert101/train/cup_cakes/1528582.jpg
DeepLearning/data/desert101/train/cup_cakes/1540056.jpg
DeepLearning/data/desert101/train/cup_cakes/1551085.jpg
DeepLearning/data/desert101/train/cup_cakes/1551988.jpg
DeepLearning/data/desert101/train/cup_cakes/1553450.jpg
DeepLearning/data/desert101/train/cup_cakes/1554786.jpg
DeepLearning/data/desert101/train/cup_cakes/1564654.jpg
DeepLearning/data/desert101/train/cup_cakes/1566398.jpg
DeepLearning/data/desert101/train/cup_cakes/1569534.jpg
DeepLearning/data/desert101/train/cup_cakes/1573160.jpg
DeepLearning/data/desert101/train/cup_cakes/1583626.jpg
DeepLearning/data/desert101/train/cup_cakes/1584749.jpg
DeepLearning/data/desert101/train/cup_cakes/1589407.jpg
DeepLearning/data/desert101/train/cup_cakes/1594520.jpg
DeepLearning/data/desert101/train/cup_cakes/1595113.jpg
DeepLearning/data/desert101/train/cup_cakes/1596176.jpg
DeepLearning/data/desert101/train/cup_cakes/1596178.jpg
DeepLearning/data/desert101/train/donuts/2227288.jpg
DeepLearning/data/desert101/train/donuts/2238316.jpg
DeepLearning/data/desert101/train/donuts/2239233.jpg
DeepLearning/data/desert101/train/donuts/2241503.jpg
DeepLearning/data/desert101/train/donuts/2244393.jpg
DeepLearning/data/desert101/train/donuts/2247724.jpg
DeepLearning/data/desert101/train/donuts/2248367.jpg
DeepLearning/data/desert101/train/donuts/2249805.jpg
DeepLearning/data/desert101/train/donuts/2249919.jpg
DeepLearning/data/desert101/train/donuts/2254119.jpg
DeepLearning/data/desert101/train/donuts/2262914.jpg
DeepLearning/data/desert101/train/donuts/2276532.jpg
DeepLearning/data/desert101/train/donuts/2282404.jpg
DeepLearning/data/desert101/train/donuts/2290677.jpg
DeepLearning/data/desert101/train/donuts/2293386.jpg
DeepLearning/data/desert101/train/donuts/2298247.jpg
DeepLearning/data/desert101/train/donuts/2298781.jpg
DeepLearning/data/desert101/train/donuts/2313437.jpg
DeepLearning/data/desert101/train/donuts/2317067.jpg
DeepLearning/data/desert101/train/donuts/2317232.jpg
DeepLearning/data/desert101/train/donuts/2322467.jpg
DeepLearning/data/desert101/train/donuts/2323205.jpg
DeepLearning/data/desert101/train/donuts/2324265.jpg
DeepLearning/data/desert101/train/donuts/2326358.jpg
DeepLearning/data/desert101/train/donuts/2330100.jpg
DeepLearning/data/desert101/train/donuts/2331870.jpg
DeepLearning/data/desert101/train/donuts/2337140.jpg
DeepLearning/data/desert101/train/donuts/2337352.jpg
DeepLearning/data/desert101/train/donuts/2341600.jpg
DeepLearning/data/desert101/train/donuts/2349280.jpg
DeepLearning/data/desert101/train/donuts/2367008.jpg
DeepLearning/data/desert101/train/donuts/2367129.jpg
DeepLearning/data/desert101/train/donuts/2375258.jpg
DeepLearning/data/desert101/train/donuts/2378694.jpg
DeepLearning/data/desert101/train/donuts/2380041.jpg
DeepLearning/data/desert101/train/donuts/2385502.jpg
DeepLearning/data/desert101/train/donuts/2387992.jpg
DeepLearning/data/desert101/train/donuts/2388536.jpg
DeepLearning/data/desert101/train/donuts/2389043.jpg
DeepLearning/data/desert101/train/donuts/2392914.jpg
DeepLearning/data/desert101/train/donuts/2393756.jpg
DeepLearning/data/desert101/train/donuts/2397717.jpg
DeepLearning/data/desert101/train/donuts/2406601.jpg
DeepLearning/data/desert101/train/donuts/2417229.jpg
DeepLearning/data/desert101/train/donuts/2423745.jpg
DeepLearning/data/desert101/train/donuts/2427765.jpg
DeepLearning/data/desert101/train/donuts/2436043.jpg
DeepLearning/data/desert101/train/donuts/2443948.jpg
DeepLearning/data/desert101/train/donuts/2446405.jpg
DeepLearning/data/desert101/train/donuts/2446638.jpg
DeepLearning/data/desert101/train/donuts/2446807.jpg
DeepLearning/data/desert101/train/donuts/2454732.jpg
DeepLearning/data/desert101/train/donuts/2456954.jpg
DeepLearning/data/desert101/train/donuts/2466115.jpg
DeepLearning/data/desert101/train/donuts/2467025.jpg
DeepLearning/data/desert101/train/donuts/2470341.jpg
DeepLearning/data/desert101/train/donuts/2473748.jpg
DeepLearning/data/desert101/train/donuts/2474868.jpg
DeepLearning/data/desert101/train/donuts/2476954.jpg
DeepLearning/data/desert101/train/donuts/2479096.jpg
DeepLearning/data/desert101/train/donuts/2481485.jpg
DeepLearning/data/desert101/train/donuts/2492046.jpg
DeepLearning/data/desert101/train/donuts/2493186.jpg
DeepLearning/data/desert101/train/donuts/2494217.jpg
DeepLearning/data/desert101/train/donuts/2494998.jpg
DeepLearning/data/desert101/train/donuts/2498369.jpg
DeepLearning/data/desert101/train/donuts/2499239.jpg
DeepLearning/data/desert101/train/donuts/2500380.jpg
DeepLearning/data/desert101/train/donuts/2507909.jpg
DeepLearning/data/desert101/train/donuts/2510775.jpg
DeepLearning/data/desert101/train/donuts/2512529.jpg
DeepLearning/data/desert101/train/donuts/2512779.jpg
DeepLearning/data/desert101/train/donuts/2512789.jpg
DeepLearning/data/desert101/train/donuts/2518126.jpg
DeepLearning/data/desert101/train/donuts/2519834.jpg
DeepLearning/data/desert101/train/donuts/2520172.jpg
DeepLearning/data/desert101/train/donuts/2525577.jpg
DeepLearning/data/desert101/train/donuts/2528050.jpg
DeepLearning/data/desert101/train/donuts/2532710.jpg
